body {
  background-image: url('img/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* ------------- intro ------------- */

/* ------------- project container ------------- */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 57vh;
  margin-left: 60px;
}

.project-container {
  text-align: center;
  margin-bottom: 30px;
  width: 310px;
  background-color: #222145;
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.project-container:last-child {
  margin-right: 0; 
}

.project-container img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.project-container p {
  margin-top: 10px;
  font-weight: bold;
  padding: 10px;
  background-color: transparent;
  border-radius: 0 0 8px 8px;
  text-align: left;
  margin-left: 10px;
  font-size: 18px;
}
